{% extends "base.html" %}

{% block title %}添加监控{% endblock %}


{% block navbar %}
<section class="content-header">
    <h1>添加监控</h1>
    <ol class="breadcrumb">
        <li><i class="fa fa-dashboard"></i> 当前位置</li>
        <li class="active">主机监控</li>
        <li class="active">添加监控</li>
    </ol>
</section>
{% endblock %}


{% block content %}
<div class="box box-primary">
    <form method="post">
        {{form.hidden_tag()}}
        <div class="box-body">
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{form.host.label}}</label>
                    {{form.host(class_="form-control select2",placeholder="请输入")}}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{form.item_name.label}}</label>
                    {{form.item_name(class_="form-control",placeholder="请输入")}}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{form.item_type.label}}</label>
                    {{form.item_type(class_="form-control select2",placeholder="请输入")}}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{form.warning_value.label}}</label>
                    {{form.warning_value(class_="form-control",placeholder="请输入")}}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{form.tcp_http.label}}</label>
                    {{form.tcp_http(class_="form-control",placeholder="请输入")}}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{form.matching_char.label}}</label>
                    {{form.matching_char(class_="form-control",placeholder="请输入")}}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{form.notify_user.label}}</label>
                    {{form.notify_user(class_="form-control",placeholder="请输入")}}
                </div>
            </div>
        </div>

        <div class="box-header with-border">
            {% include 'message.html' %}
        </div>

        <div class="box-footer">
            <div class="col-md-12">
                {{form.status()}}
                {{form.submit(class_="btn btn-primary pull-right")}}
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/addmonitor.js') }}"></script>
{% endblock %}