{% extends "base.html" %}

{% block title %}状态查询{% endblock %}
{% block navbar %}
<section class="content-header">
    <h1>状态查询</h1>
    <ol class="breadcrumb">
        <li><i class="fa fa-dashboard"></i> 当前位置</li>
        <li class="active">主机监控</li>
        <li class="active">状态查询</li>
    </ol>
</section>
{% endblock %}

{% block content %}
<div class="box box-primary">
    <div class="box-header with-border">
        {% include 'message.html' %}
    </div>

    <div class="box-body">
        {% if form%}
        <table class="table table-bordered">
            <tr>
                <th>ID</th>
                <th>主机名</th>
                <th>主机ip</th>
                <th>监控项</th>
                <th>检查时间</th>
                <th>是否启用</th>
                <th>详情</th>
                <th>编辑</th>
                <th>删除</th>
            </tr>
            {% for row in form.content %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{row.host_name}}</td>
                <td>{{row.host_ip}}</td>
                <td>{% if row.item_status == 1 %}
                    <span class="layui-badge-dot layui-bg-green"></span>
                    {% else %}
                    <span class="layui-badge-dot"></span>
                    {% endif %}
                    {{row.item_name}}</td>
                <td>{{row.check_time}}</td>
                <td>{% if row.status %}
                    <input type="checkbox" data-id="{{row.id}}" class="status" data-on-text="启用" data-off-text="停用"
                           data-size="mini" checked>
                    {% else %}
                    <input type="checkbox" data-id="{{row.id}}" class="status" data-on-text="启用" data-off-text="停用"
                           data-size="mini">
                    {% endif %}
                </td>
                <td><a class="fa fa-bar-chart text-info" data-toggle="modal" data-target="#modal{{row.id}}"></a></td>
                <td><a class='fa fa-lg fa-edit text-light-blue' href='{{ url_for("main.fix_monitor", id=row.id) }}'></a></td>
                <td><a class='fa fa-lg fa-trash text-red' href='?action=del&id={{row.id}}'></a></td>
            </tr>
            <!-- 模态框（Modal） -->
            <div class="modal fade" id="modal{{row.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title" id="myModalLabel">
                                {{row.host_name}}-{{row.item_name}}
                            </h4>
                        </div>
                        <div class="modal-body">
                            {% if row.item_status == 1 %}
                            <span class="col-md-12 text-info">{{row.item_name}}当前状态：{{row.item_detail}}</span>
                            {% else %}
                            <span class="col-md-12 text-danger">{{row.item_name}}当前状态：{{row.item_detail}}</span>
                            {% endif %}
                            <div class="input-group">
                            <form id="echarts{{row.id}}" class="layui-form" method="post">
                                <div class="layui-form-item">
                                    <label class="layui-form-label" style="font-weight:700;white-space:nowrap;">日期范围</label>
                                    <div class="col-md-6">
                                        <input type="text" id="date_ware{{row.id}}" name="date_ware" class="layui-input" placeholder="开始日期-结束日期" autocomplete="off">
                                        <input type="hidden" id="item_id{{row.id}}"  name="item_id" class="layui-input" autocapitalize="off" value="{{row.id}}">
                                        <input type="hidden" id="warning_value{{row.id}}"  name="warning_value" class="layui-input" autocapitalize="off" value="{{row.warning_value}}">
                                    </div>
                                    <div class="col-md-2">
                                        <button type="button" class="layui-btn layui-btn-normal" value="echarts{{row.id}}" onclick="pyecharts(this)">提交</button>
                                    </div>
                                </div>
                            </form>
                            </div>
                            <div id="pyecharts{{row.id}}">
                                {{row.myecharts|safe}}
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                            </button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>
            {% endfor %}
        </table>
        {% endif %}
    </div>

    <div class="box-footer clearfix">
        {% if form%}
        <ul class="pagination pagination-sm no-margin pull-right">
            <li><a href="#">&laquo;</a></li>
            {% for i in range(1, form.total_page+ 1) %}
            {% if i == form.page %}
            <li><a href="?page={{i}}"><b>{{i}}</b></a></li>
            {% else %}
            <li><a href="?page={{i}}">{{i}}</a></li>
            {% endif %}
            {% endfor %}
            <li><a href="#">&raquo;</a></li>
        </ul>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/querystatus.js') }}"></script>
{% endblock %}